.popup {
  position: fixed;
  top: 42px;
  right: 14px;
  background-color: var(--main-color);
  border-radius: 3px;
  box-shadow: inset 1px 1px 1px 0 var(--opacity-white-08), 5px 6px 0 var(--opacity-black-02);
  animation: fade-in 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.popup::after,
.popup::before {
  position: absolute;
  display: block;
  content: '';
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
}

.popup::after {
  top: -14px;
  right: 62px;
  z-index: 1000;
  border-bottom: 16px solid var(--main-color);
}

.popup::before {
  top: -16px;
  right: 62px;
  z-index: 999;
  border-bottom: 16px solid var(--opacity-white-08);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
