.wrapper {
  position: relative;
}

.reset {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ccc;
  border-bottom: 2px solid #7d7d7d;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #7d7d7d;
  padding: 8px 16px;
}
