.main {
  height: 312px;
  width: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(33, 32, 47);
  cursor: text;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  color: #faebd7;
  padding: 0 4px;
  margin: 0;
}

.input,
.pre,
.wrapper::after {
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
  color: #faebd7;
  line-height: 20px;
  letter-spacing: 0.16px;
}

.pre {
  margin: 0;
  padding: 0;
  user-select: text;
}

.pre::selection {
  color: rgb(33, 32, 47);
  background-color: #faebd7;
}

.input {
  height: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  caret-color: #faebd7;
  outline: none;
}

.wrapper {
  position: relative;
  padding-left: 64px;
  font-size: 0;
}

.wrapper::after {
  content: 'root >';
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
}

@media (max-width: 950px) {
  .main {
    height: 200px;
    width: 300px;
  }
}
