.background {
  position: fixed;
  top: 25px;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.menu {
  position: fixed;
  z-index: 1000000;
  width: 160px;
  padding: 1px;
  margin: 0;
  list-style: none;
  background-color: var(--main-color);
  border: 1px solid var(--opacity-black-05);
  outline: none;
  box-shadow: inset 1px 1px 1px 0 var(--opacity-white-08), 5px 6px 0 var(--opacity-black-02);
  transition: background-color 0.5s;
}

.item {
  font-size: 14px;
  line-height: 28px;
  color: var(--blueGrey-900);
  cursor: pointer;
}

.item:hover {
  color: var(--yellow-50);
  background-color: var(--bluGrey-500);
}

.title {
  padding: 0 12px;
}

.line {
  height: 1px;
  padding: 0;
  margin: 0;
  background-color: var(--opacity-white-08);
  border: none;
}
