.main {
  width: 100%;
  height: 6px;
  margin: 3px 0;
  -webkit-appearance: none;
}

.main:focus {
  outline: none;
}

.main::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: var(--brown-200);
  border-radius: 0;
  box-shadow: inset 1px 1px var(--brown-900), inset -1px -1px var(--brown-900);
}

.main::-webkit-slider-thumb {
  box-sizing: border-box;
  width: 21px;
  height: 12px;
  margin-top: -3px;
  cursor: pointer;
  background: var(--yellow-50);
  border: 1px solid var(--brown-900);
  border-radius: 0;
  -webkit-appearance: none;
}

.main:focus::-webkit-slider-runnable-track {
  background: var(--brown-100);
}

.main::-moz-range-track {
  box-sizing: border-box;
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: var(--brown-200);
  border-radius: 0;
  box-shadow: inset 1px 1px var(--brown-900), inset -1px -1px var(--brown-900);
}

.main::-moz-range-thumb {
  box-sizing: border-box;
  width: 21px;
  height: 12px;
  cursor: pointer;
  background: var(--yellow-50);
  border: 1px solid var(--brown-900);
  border-radius: 0;
}

.main::-ms-track {
  width: 100%;
  height: 6px;
  color: transparent;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
}

.main::-ms-fill-lower {
  background: var(--brown-300);
  border-radius: 0;
  box-shadow: inset 1px 1px var(--brown-900), inset -1px -1px var(--brown-900);
}

.main::-ms-fill-upper {
  background: var(--brown-200);
  border-radius: 0;
  box-shadow: inset 1px 1px var(--brown-900), inset -1px -1px var(--brown-900);
}

.main::-ms-thumb {
  width: 21px;
  height: 12px;
  cursor: pointer;
  background: var(--yellow-50);
  border: 1px solid var(--brown-900);
  border-radius: 0;
}

.main:focus::-ms-fill-lower {
  background: var(--brown-200);
}

.main:focus::-ms-fill-upper {
  background: var(--brown-100);
}
