.main {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 310px;
  padding: 1px;
}

.fileList {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: flex-start;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--explorer-bg-color);
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-top: 1px solid #545454;
  border-left: 1px solid #545454;
}

.navigation {
  display: flex;
  align-items: center;
  padding: 8px 6px;
  background-color: var(--main-color);
}

.path {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 8px;
  background-color: #fff;
  border-radius: 3px;
  height: 24px;
}

.path > span {
  font-size: 12px;
  line-height: 1;
  color: #2c3d50;
  letter-spacing: 0.05em;
}

.button {
  height: 24px;
  width: 24px;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  border: none;
  border-radius: 50%;
  line-height: 1;
  margin-right: 8px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  fill: #fff;
}

.button:focus-visible {
  background-color: var(--focus-color);
}

.directory,
.file {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 84px;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.name {
  font-size: 14px;
  color: #fff;
  margin-top: 2px;
  max-width: 82px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 4px;
  border-radius: 6px;
}

.directory:focus > .name,
.file:focus > .name {
  background-color: var(--main-color);
}
