.main {
  display: flex;
  width: 42px;
  justify-content: center;
  align-items: center;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  transition: background-color 0.3s;
}

.main:hover,
.main:focus {
  background-color: var(--focus-color);
}
