.main {
  min-height: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--blueGrey-900);
  color: var(--yellow-50);
}
