body {
  margin: 0;
  overflow: hidden;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code,
pre {
  font-family: 'Roboto Mono', monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  user-select: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
}
