body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

code {
  font-family: 'Roboto Mono', monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  user-select: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  max-width: 100%;
}
