.border {
  border-bottom: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
  border-top: 1px solid #616161;
  border-left: 1px solid #616161;
}

.window-exit-active {
  animation: slide-out-bottom 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.fade-exit-active {
  animation: fade-out 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-bottom: 1px solid #7d7d7d;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #7d7d7d;
}

@keyframes slide-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(200px) scale(0.3);
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
