.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.border {
  border-bottom: 1px solid var(--gray-50);
  border-right: 1px solid var(--gray-50);
  border-top: 1px solid var(--gray-700);
  border-left: 1px solid var(--gray-700);
}

.window-exit-active {
  animation: slide-out-bottom 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.fade-exit-active {
  animation: fade-out 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px var(--opacity-black-02);
  background: var(--opacity-white-01);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-bottom: 1px solid var(--light-gray);
  border-top: 1px solid var(--white);
  border-left: 1px solid var(--white);
  border-right: 1px solid var(--light-gray);
}

@keyframes slide-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(200px) scale(0.3);
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
