:root {
  --main-color: rgb(173, 177, 198);
  --main-bg-color: rgb(100, 98, 145);
  --explorer-bg-color: rgb(143, 141, 173);
  --main-bg-image: url('/src/assets/images/wallpapers/wp0.webp');
  --focus-color: rgba(255, 255, 255, 0.4);
}

:root.green {
  --main-color: rgb(173, 198, 178);
  --main-bg-color: rgb(98, 145, 144);
  --explorer-bg-color: rgb(98, 145, 144);
  --main-bg-image: url('/src/assets/images/wallpapers/wp1.webp');
}

:root.yellow {
  --main-color: rgb(222, 209, 191);
  --main-bg-color: rgb(98, 145, 128);
  --explorer-bg-color: rgb(134, 162, 148);
  --main-bg-image: url('/src/assets/images/wallpapers/wp2.webp');
}

:root.colorless {
  --main-color: rgb(186, 186, 186);
  --main-bg-color: rgb(119, 119, 126);
  --explorer-bg-color: rgb(149, 149, 160);
  --main-bg-image: url('/src/assets/images/wallpapers/wp3.jpg');
}
