.main {
  padding: 8px;
  border-top: 1px solid;
  box-shadow: inset 1px 1px 1px 0 var(--opacity-white-08);
}

.playlist {
  padding: 4px 0;
  margin: 0;
  list-style: none;
  background-color: var(--blueGrey-900);
}

.track {
  padding: 4px 8px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  color: var(--indigo-200);
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  transition: color 0.3s;
}

.current {
  color: var(--yellow-50);
}
