.loadMenu {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: var(--gray-100);
  background-image: url(../Game/images/init.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 100;
}

.savedLevel,
.level {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 128px;
  border: 2px solid var(--gray-400);
  transition: background-color 0.5s;
  color: var(--white);
  font-size: 16px;
  font-family: 'Roboto Mono', monospace;
}

.level {
  background-color: var(--opacity-grey-07);
}

.savedLevel {
  cursor: pointer;
  background-color: var(--brown-200);
}

.savedLevel:hover {
  background-color: var(--gray-400);
}
