.main {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  display: flex;
  width: 100%;
  height: 24px;
  background-color: var(--main-color);
  box-shadow: 0 1px var(--opacity-black-05);
  transition: background-color 0.5s;
}

.expander {
  margin: 0 auto;
}

.logo {
  padding: 0 8px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0.2px;
}
