.main {
  background-color: rgb(33, 32, 47);
  padding: 0 4px;
  width: 116px;
}

.inner {
  line-height: 14px;
  height: 16px;
  overflow: hidden;
  color: #acb1c6;
  font-size: 10px;
  white-space: nowrap;
}

.text {
  display: inline-block;
  padding: 0;
  margin: 0;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}

.error {
  color: red;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
