.main {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 116px;
  height: 53px;
  color: var(--yellow-50);
  background-color: var(--blueGrey-900);
}

.radio {
  position: absolute;
  top: 2px;
  left: 82px;
  font-family: 'Roboto Mono', monospace;
  font-size: 9px;
  color: var(--yellow-50);
}

.play {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: 6px;
  height: 6px;
  color: var(--white);
  background: transparent;
}

.play::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  border: 3px solid transparent;
  border-left: 6px solid var(--yellow-50);
}

.pause {
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: 6px;
  height: 6px;
  font-size: 9px;
  font-weight: 700;
  color: var(--yellow-50);
}

.pause::before,
.pause::after {
  position: absolute;
  top: 0;
  width: 1px;
  height: 6px;
  content: '';
  background-color: var(--yellow-50);
  border-radius: 1px;
}

.pause::before {
  left: 0;
}

.pause::after {
  right: 0;
}

.prettyTime {
  margin-top: -2px;
  font-family: 'Roboto Mono', monospace;
  font-size: 32px;
  font-weight: 300;
}
