.fieldset {
  border: 1px solid var(--blueGrey-900);
  padding: 20px;
  margin: 8px;
  min-width: 216px;
}

.legend {
  color: var(--blueGrey-900);
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
}

.select {
  width: 100%;
  padding: 4px;
  outline: none;
  border-radius: 0;
  background-color: var(--yellow-50);
  color: var(--blueGrey-900);
  cursor: pointer;
}
