.fieldset {
  min-width: 216px;
  padding: 20px;
  margin: 8px;
  border: 1px solid var(--blueGrey-900);
}

.legend {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--blueGrey-900);
}

.select {
  width: 100%;
  padding: 4px;
  color: var(--blueGrey-900);
  cursor: pointer;
  background-color: var(--yellow-50);
  border-radius: 0;
  outline: none;
}
