.clock {
  padding: 0 8px;
  font-size: 14px;
  line-height: 24px;
  background: transparent;
  border: none;
  outline: none;
  transition: background-color 0.3s;
}

.clock:hover,
.clock:focus {
  cursor: pointer;
  background-color: var(--focus-color);
}
