.main {
  width: 116px;
  padding: 0 4px;
  background-color: var(--blueGrey-900);
}

.inner {
  height: 16px;
  overflow: hidden;
  font-size: 10px;
  line-height: 14px;
  color: var(--indigo-200);
  white-space: nowrap;
}

.text {
  display: inline-block;
  padding: 0;
  padding-left: 100%;
  margin: 0;
  animation: marquee 15s linear infinite;
}

.error {
  color: var(--red-900);
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}
