.main {
  position: fixed;
  z-index: 3;
  min-width: 200px;
  background-color: var(--main-color);
  border: 1px solid var(--opacity-black-05);
  box-shadow: inset 1px 1px 1px 0 var(--opacity-white-08), 5px 6px 0 var(--opacity-black-02);
  transition: background-color 0.5s;
  transform: translate3d(0, 0, 0);
  animation: slide-in-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.header {
  display: flex;
  align-items: center;
  height: 24px;
  padding: 0 8px;
  color: var(--blueGrey-900);
  cursor: grab;
}

.name {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
}

.decor {
  flex-grow: 1;
  height: 8px;
  margin: 0 16px;
  background-image: url(./images/square.svg);
}

.close {
  position: relative;
  width: 16px;
  height: 16px;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
}

.close::before,
.close::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 1px;
  content: '';
  background-color: var(--blueGrey-900);
}

.close::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close:focus-visible {
  background-color: var(--focus-color);
}

.body {
  overflow: auto;
}

@keyframes slide-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
