.main {
  position: fixed;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 1px 0 rgba(255, 255, 255, 0.8), 5px 6px 0 rgba(0, 0, 0, 0.24);
  /* transform: translate3d(0, 0, 0); */
  /* animation: slide-in-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; */
  background-color: var(--main-color);
  z-index: 3;
}

.header {
  display: flex;
  align-items: center;
  height: 24px;
  padding: 0 8px;
  color: #222b35;
  cursor: grab;
}

.title {
  margin: 0;
  line-height: 24px;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
}

.decor {
  flex-grow: 1;
  height: 8px;
  background-image: url(./images/square.svg);
  margin: 0 16px;
}

.close {
  position: relative;
  height: 16px;
  width: 16px;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.close::before,
.close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 1px;
  background-color: #2c3e50;
}

.close::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.body {
  overflow: auto;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateZ(-1100px) translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
