.main {
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.name {
  padding: 2px 4px;
  margin-top: 14px;
  font-size: 14px;
  line-height: 1;
  color: var(--white);
  border-radius: 6px;
}

.main:focus-visible > .name {
  background-color: var(--main-color);
}
