.main {
  height: 300px;
  width: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(33, 32, 47);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  color: #faebd7;
  padding: 6px 4px;
  margin: 0;
}

.pre {
  margin: 0;
  padding: 0;
  user-select: text;
  font-size: 14px;
}

.pre::selection {
  color: rgb(33, 32, 47) !important;
  background-color: #faebd7 !important;
}

.input {
  width: 100%;
  padding: 4px;
  background-color: transparent;
  border: none;
  font-family: 'Roboto Mono', monospace;
  color: #faebd7;
  caret-color: #faebd7;
  outline: none;
  font-size: 14px;
  line-height: 1;
}

.wrapper {
  position: relative;
  padding-left: 60px;
}

.wrapper::after {
  content: 'root >';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
  font-size: 14px;
  font-family: 'Roboto Mono', monospace;
  color: #faebd7;
  line-height: 1;
}
