.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 116px;
  height: 53px;
  background-color: #21202f;
  color: #faebd7;
}

.radio {
  position: absolute;
  top: 2px;
  left: 82px;
  color: #faebd7;
  font-size: 9px;
  font-family: 'Roboto Mono', monospace;
}

.play {
  position: absolute;
  display: block;
  top: 5px;
  left: 5px;
  background: transparent;
  width: 6px;
  height: 6px;
  color: #fff;
}

.play::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  border: 3px solid transparent;
  border-left: 6px solid #faebd7;
}

.pause {
  position: absolute;
  display: block;
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  color: #faebd7;
  font-size: 9px;
  font-weight: 700;
}

.pause::before,
.pause::after {
  content: '';
  position: absolute;
  top: 0;
  height: 6px;
  width: 1px;
  border-radius: 1px;
  background-color: #faebd7;
}

.pause::before {
  left: 0;
}

.pause::after {
  right: 0;
}

.prettyTime {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 32px;
  margin-top: -2px;
}
