.main {
  overflow: hidden;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  background-image: var(--main-bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  perspective: 500px;
  perspective-origin: calc(50% + 120px) 50%;
}
