.main {
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--main-bg-color);
  background-image: var(--main-bg-image);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: background 0.5s;
}
