.menu {
  position: absolute;
  bottom: 24px;
  left: 50%;
  z-index: 11;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
  transform: translateX(-50%);
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.menuItem {
  padding: 8px 12px;
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  color: var(--white);
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  transition: color 0.5s;
}

.menuItem:hover,
.menuItem:focus {
  color: gold;
}

@keyframes slide-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(512px) translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}
