.menu {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: var(--white);
  list-style: none;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  z-index: 11;
  margin: 0;
  padding: 0;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.menuItem {
  padding: 8px 12px;
  cursor: pointer;
  transition: color 0.5s;
}

.menuItem:hover {
  color: gold;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(512px) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}
