.wrapper {
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  background-color: var(--opacity-black-05);
}

.resetButton {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 13;
  padding: 6px 12px;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  line-height: 1;
  color: var(--blueGrey-900);
  background-color: var(--main-color);
  border-top: 2px solid var(--white);
  border-right: 2px solid var(--gray-500);
  border-bottom: 2px solid var(--gray-500);
  border-left: 2px solid var(--white);
  outline: none;
  transition: background-color 0.5s;
  transform: translate(-50%, -50%);
}
